.main-header-container {
	background-color: var(--color-primary-dark);
}

.main-logo {
	font-size: 4rem;
	color: var(--color-white);
	text-decoration: none;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 2rem;
	justify-content: center;
	width: fit-content;
	margin: 0 auto;
}

.search-form {
	border: 0.2rem solid var(--color-primary-dark);
	max-width: 64rem;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;

	border-radius: 0.4rem;
	transition: all 300ms ease-in-out;
	box-shadow:
		0 1px 3px 0 var(--color-primary-dark),
		0 1px 2px -1px var(--color-primary-dark);
}

.search-form:focus-within {
	border-color: var(--color-primary);
	background-color: var(--color-white);
}

.search-input {
	flex: 1;
}

.search-input,
.search-button {
	border: none;
	background: none;
	outline: none;
	padding: 1rem;
	transition: all 300ms ease-in-out;
}

.search-button {
	flex-shrink: 1;
}

.search-button:hover {
	cursor: pointer;
}

.search-button:focus {
	outline: 1px solid var(--color-primary);
	background-color: rgba(0, 0, 0, 0.2);
}

.search-form:focus-within > .search-button {
	color: var(--color-primary);
}

.search-label {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.main-content {
	padding-top: 0;
}

.main-content-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	gap: var(--spacing-gutter-large);
}

.recipe {
	background: var(--color-white);
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
	transform: scale(1);
	transition: all 300ms ease-in-out;
	border-radius: 0.4rem;
	overflow: hidden;
}

.recipe img {
	max-width: 100%;
	width: 100%;
	height: 266px;
}

.recipe-list-item {
	max-width: 64rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.recipe-list-item:hover {
	transform: scale(1.02);
	box-shadow: -8px 8px 18px rgba(0, 0, 0, 0.25);
}

.recipe-title-container {
	padding: var(--spacing-gutter-medium);
	padding-bottom: 2rem;
}

.recipe-author {
	padding: 0 var(--spacing-gutter-medium);
}

.recipe-content {
	padding: var(--spacing-gutter-medium);
	padding-top: 2rem;
	flex: 1;
}

.recipe-author-item {
	color: var(--color-gray-4);
	margin-right: 1rem;
	font-style: italic;
	font-size: 1.4rem;
}

.recipe-author a {
	color: var(--color-primary);
	transition: all 300ms ease-in-out;
	text-decoration: none;
}

.recipe-author a:hover {
	color: var(--color-primary-dark);
}

.recipe-meta-container {
	display: flex;
	flex-flow: row wrap;
	padding: var(--spacing-gutter-medium);
	background: var(--color-gray-1);
}

.recipe-meta {
	display: flex;
	flex-flow: column nowrap;
	flex-shrink: 1;
	flex-grow: 1;
	text-align: center;
}

.recipe-meta-title {
	font-size: 1.6rem;
}

.recipe-footer a {
	background: var(--color-primary-dark);
	display: block;
	color: var(--color-white);
	text-decoration: none;
	text-align: center;
	padding: 1.5rem var(--spacing-gutter-medium);
	transition: all 300ms ease-in-out;
}

.recipe-footer a:hover {
	filter: brightness(2);
}

.main-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--color-primary-dark);
	color: var(--color-white);
	padding: var(--spacing-gutter-large);
}

.main-footer a {
	color: var(--color-white);
	text-decoration: none;
	transition: all 300ms ease-in-out;
	height: fit-content;
}

.main-footer a:hover {
	filter: brightness(0.8);
}

.main-content-detail .recipe-list-item {
	max-width: 84rem;
	margin: 0 auto;
}

.main-content-detail .recipe-list-item:hover {
	transform: scale(1);
	box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}

.preparation-steps {
	padding: var(--spacing-gutter-medium);

	& > p {
		line-height: 24px;
	}
}
